.custom-pagination .ant-pagination-item-active {
    align-content: center;
    min-height: 4.2vh;
    min-width: 1.5vw !important;
    border-radius: 2.1vh;
    border-color: #9B7A5B !important;
    color: #9B7A5B !important;
}